body {
    
    background-color: gray;

    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    height: 100vh;
}

h2 {
    color: azure;
}

.square {
    width: 110px;
    height: 110px;
    margin: 10px;
}

#square1 {
    background-color: orange;

}

#square2 {
    background-color: orange;
}

#square3 {
    background-color: orange;
}

#square4 {
    background-color: orange;
}